# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store

# IntelliJ IDEA
/.idea/
/workspace.xml
/shelf/
/httpRequests/
/dataSources/
/dataSources.local.xml

# VSCode
.vscode/

# Environment variables
.env
